<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                    <td>N° de C.I.:</td>
                    <td>
                        <select id="id_nacionalidad"
                                name="nacionalidad"                                
                                class="comboBoxNacionalidad"
                                style="width: 17%; text-align: center;"
                                {NACIONALIDAD_READONLY1}
                                {NACIONALIDAD_READONLY2}/>
                            <option value="V" {SELECTED_V}>V</option>
                            <option value="E" {SELECTED_E}>E</option>
                            <!--option value="P">P</option-->
                        </select>
                        <input id="cedula"
                               name="cedula"
                               autocomplete="off"
                               value="{CEDULA}"
                               type="text"
                               maxlength="8"
                               data-constraints='number'
                               data-validation='integer'
                               style="width: 80%"
                               placeholder="########"
                              {CEDULA_READONLY}/>
                    </td>
                </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}"/>
                </td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td>
                    <input id="apellido"
                           name="apellido"
                           autocomplete="off"
                           style="width: 98%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{APELLIDO}"/>
                </td>
            </tr>
            <tr>
                <td>Sexo</td>
                <td>
                    <!--input id="sexo"
                           name="sexo"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SEXO}"-->
                
                    Masculino
                <input type="radio" 
                       id="id_sexo_masculino" 
                       name="sexo" 
                       value="M" {SELECTED_SEXO_MASCULINO}
                       data-validation='radio'/>
                    Femenino
                <input type="radio" 
                       id="id_sexo_femenino" 
                       name="sexo" 
                       value="F" {SELECTED_SEXO_FEMENINO}
                       data-validation='radio'/>
            </td>


            </tr>
            <tr>
                <td>Ubicación Geográfica:</td>
                <td>
                    <input class="data"
                           type="hidden"
                           name="id_lugar_geo"
                           id="id_lugar_geo"
                           value='{UBI_GEO_COD}'/>
                    <textarea id="lugar_geo"
                           name="lugar_geo"
                           rows="4"
                           cols="50"
                           onclick="pickOpen( 'lugar_geo',
                                         'id_lugar_geo',
                                         '../../../../../{APPORG}/pickList/lugar_geo_json/',
                                         30, 75, 300, 50);"
                           spellcheck="false"
                           readonly
                           data-validation="textarea"
                           placeholder="REQUERIDO">{UBI_GEO_TEX}</textarea>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
