<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Ocupación</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelInvitadoOcupacion();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_invitado_ocupacion" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_invitado_ocupacion" style="display: none;">
        <input id="id_invitado_ocupacion" name="id_invitado_ocupacion" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Ocupacion</td>
                <td>
                    <select id="id_ocupacion" 
                            name="id_ocupacion" 
                            style="width: 100%;" 
                            data-validation="select"
                            onchange="valPanelInvitadoOcupacion();">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: ocupacion -->
                        <option value={ID_OCUPACION} {SELECTED_OCUPACION}>{DES_OCUPACION}</option>
                        <!-- END: ocupacion -->
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <img id="id_img_add_invitado_ocupacion" src="../../../../../{APPORG}/img/addnew_off.png" border="0" title="Agregar" style="cursor:pointer;" onclick="">
        <br /><br />
    </div>
    <table id="id_tab_invitado_ocupacion" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Ocupacion</th><th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_invitado_ocupacion -->
            <tr id={ID} class={CLASS_TR}>
                <td id="{ID_OCUPACION}">{DES_OCUPACION}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editInvitadoOcupacion(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendInvitadoOcupacionDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_invitado_ocupacion -->
        </tbody>
    </table>
</div>
<!-- END: main -->
