<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Sedes</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Sede</th>
            <th>Estado</th>
            <th>Municipio</th>
            <th>Ciudad</th>
            <th>Parroquia</th>
            <th>Direccion</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{SEDE}</td>
            <td>{ESTADO}</td>
            <td>{MUNICIPIO}</td>
            <td>{CIUDAD}</td>
            <td>{PARROQUIA}</td>
            <td>{DIRECCION}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
