<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>
                    <input id="descripcion"
                           name="descripcion"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{DESCRIPCION}"

                           {DESCRIPCION_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="idfecha_aux"
                           name="fecha_aux"
                           autocomplete="off"
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA_AUX}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha_aux",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha_aux",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora</td>
                <td>
                    <input id="hora_aux"
                           name="hora_aux"
                           style="width: 100%;"
                           placeholder="00:00:00"
                           data-validation='time'
                           class="time_element"
                           value="{HORA_AUX}"
                           readonly
                           onkeypress='return acceptTime(event)'/>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
