<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Sedes</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelEventoAux();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_evento_aux" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_evento_aux" style="display: none;">
        <input id="id_evento_aux" name="id_evento_aux" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Sede</td>
                <td>
                    <select id="id_sede" name="id_sede" style="width: 100%;" data-validation="select" onchange="valPanelEventoAux();">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: sede -->
                        <option value={ID_SEDE} {SELECTED_SEDE}>{DES_SEDE}</option>
                        <!-- END: sede -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="idfecha"
                           name="fecha"
                           autocomplete="off"
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "idfecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora</td>
                <td>
                    <input id="hora"
                           name="hora"
                           placeholder="00:00:00"
                           style="width: 100%;"
                           data-validation='time'
                           class="time_element"
                           value="{HORA}"
                           readonly
                           onkeypress='return acceptTime(event)'
                           onKeyUp="valPanelEventoAux();">
                </td>
            </tr>            
        </table>
        <br />
        <img id="id_img_add_evento_aux" src="../../../../../{APPORG}/img/addnew_off.png" border="0" title="Agregar" style="cursor:pointer;" onclick="">
        <br /><br />
    </div>
    <table id="id_tab_evento_aux" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Sede</th><th>Fecha</th><th>Hora</th><th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_evento_aux -->
            <tr id={ID} class={CLASS_TR}>
                <td id="{ID_SEDE}">{DES_SEDE}</td>
                <td>{FECHA}</td>
                <td>{HORA}</td>                
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editEventoAux(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendEventoAuxDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_evento_aux -->
        </tbody>
    </table>
</div>
<!-- END: main -->
