<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Organizadores</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelEventoOrganiza();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_evento_organiza" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_evento_organiza" style="display: none;">
        <input id="id_evento_organiza" name="id_evento_organiza" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Organizador</td>
                <td>
                    <select id="id_organiza" name="id_organiza" style="width: 100%;" data-validation="select"
                    onchange="valPanelEventoOrganiza();">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: organiza -->
                        <option value={ID_ORGANIZA} {SELECTED_ORGANIZA}>{DES_ORGANIZA}</option>
                        <!-- END: organiza -->
                    </select>
                </td>
            </tr>
        </table>
        <br />
        <img id="id_img_add_evento_organiza" src="../../../../../{APPORG}/img/addnew_off.png" border="0" title="Agregar" style="cursor:pointer;" onclick="">
        <br /><br />
    </div>
    <table id="id_tab_evento_organiza" class="tabla_grid" width="100%">
        <thead>
            <tr>
                <th>Organizador</th><th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_evento_organiza -->
            <tr id={ID} class={CLASS_TR}>
                <td id="{ID_ORGANIZA}">{DES_ORGANIZA}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editEventoOrganiza(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendEventoOrganizaDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_evento_organiza -->
        </tbody>
    </table>
</div>
<!-- END: main -->
