<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Convocatorias</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Invitado</th>
            <!--th>Fecha Convocatoria</th>
            <th>Hora Convocatoria</th-->
            <th>Confirmacion</th>
            <!--th>Fecha Confirmacion</th>
            <th>Hora Confirmacion</th-->
            <th>Asistencia</th>
            <!--th>Fecha Asistencia</th>
            <th>Hora Asistencia</th>
            <th>Observacion</th-->            
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{DES_EVENTO}</td>
            <td>{DES_INVITADO}</td>
            <!--td>{FECHA_CONVOCATORIA}</td>
            <td>{HORA_CONVOCATORIA}</td-->
            <td align="center">{CONFIRMACION}</td>
            <!--td>{FECHA_CONFIRMACION}</td>
            <td>{HORA_CONFIRMACION}</td-->
            <td align="center">{ASISTENCIA}</td>
            <!--td>{FECHA_ASISTENCIA}</td>
            <td>{HORA_ASISTENCIA}</td>
            <td>{OBSERVACION}</td-->
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
