<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 90%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>
                    <input id="nombre"
                           name="nombre"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{NOMBRE}"

                           {NOMBRE_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Objeto</td>
                <td>
                    <textarea id="objeto"
                              name="objeto"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea"
>{OBJETO}</textarea>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
