<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<input type="hidden" name="id" id="id" value='{ID}'>
<div id='sub_titulo'>Registro de Organizador</div>
<div id="panel" style="display: block; clear:both;">
    <div class="halfmoon" id ="div_navegacion">
        <ul>
            <li style="display:">
                <a id="Tab0" href="javascript:Tab(0,2);botonGuardarOnOff(0);" style="display:">Datos Básicos
                    <img src="../../../{APPORG}/img/s_okay.png" width="10" height="10" id="chk0" style="style:hidden" border=0>
                </a>
            </li>
            <li style="display:">
                <a id="Tab1" href="javascript:Tab(1,2);botonGuardarOnOff(1);" style="display:{TAB_NONE_BLOCK1}">Redes Sociales
                    <img src="../../../{APPORG}/img/s_okay.png" width="10" height="10" id="chk1" style="style:hidden" border=0>
                </a>
            </li>
        </ul>
    </div>
    <div id="botones_solapa">
        <table id="botones" align="center" style="display:{BOTONES_NONE_BLOCK}">
            <tr>
                <td>
                    <input id="id_regresar"
                           type="button"
                           value="Atras"
                           onClick="javascript:regresarTab(2);regresarTabBotonGuardarOnOff(2);">
                </td>
                <td>
                    <input id="id_seguir"
                           type=button
                           value="Adelante"
                           onClick="javascript:segirTab(2);segirBotonGuardarOnOff(2);">
                </td>
            <tr>
        </table>
    </div>
    <div id="div0" class="divSolapa" align="center" title="..." label="t" style="display:block">{SOLAPA_0}</div>
    <div id="div1" class="divSolapa" align="center" title="..." label="t" style="display:none">{SOLAPA_1}</div>
</div>
{BUTTONS_PANEL}
<!-- END: main -->
