<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de programacion</div>
    <div align="center">
        <table class="tabla_grid" style="width: 90%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Evento</td>
                <td>
                    <select id="id_evento_aux" name="id_evento_aux" style="width: 100%;">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: evento_aux -->
                        <option value={ID_EVENTO_AUX} {SELECTED_EVENTO_AUX}>{DES_EVENTO_AUX}</option>
                        <!-- END: evento_aux -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Fecha</td>
                <td>
                    <input id="id_fecha"
                           name="fecha"
                           autocomplete="off"
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA}" 
                           readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "id_fecha",
                            ifFormat      : "%Y-%m-%d",
                            button        : "id_fecha",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora</td>
                <td>
                    <input id="id_hora"
                           name="hora"
                           type="text"
                           style="width: 100%;"
                           placeholder="00:00:00"
                           data-validation='time'
                           maxlength='8'
                           class="time_element"
                           value="{HORA}"
                           readonly
                           onkeypress='return acceptTime(event)'/>
                </td>
            </tr>
            <tr>
                <td>Programa</td>
                <td>
                    <input id="id_programa"
                           name="programa"
                           autocomplete="off""
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{PROGRAMA}"
                           {PROGRAMA_READONLY_}>
                </td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>
                    <textarea id="id_descripcion"
                              name="descripcion"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DESCRIPCION}</textarea>
                </td>
            </tr>
            <tr>
                <td>Representante</td>
                <td>
                    <input id="id_representante"
                           name="representante"
                           autocomplete="off""
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{REPRESENTANTE}">
                </td>
            </tr>            
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
