<!-- BEGIN: main -->
    <div align="center">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Sede</td>
                <td>
                    <input id="sede"
                           name="sede"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="uppercase"
                           data-constraints=""
                           data-validation="required"
                           value="{SEDE}"

                           {SEDE_READONLY}>
                </td>
            </tr>
            <tr>
                <td>Ubicación Geográfica:</td>
                <td>
                    <input class="data"
                           type="hidden"
                           name="id_lugar_geo"
                           id="id_lugar_geo"
                           value='{UBI_GEO_COD}'/>
                    <textarea id="lugar_geo"
                           name="lugar_geo"
                           rows="4"
                           cols="50"
                           onclick="pickOpen( 'lugar_geo',
                                         'id_lugar_geo',
                                         '../../../../../{APPORG}/pickList/lugar_geo_json/',
                                         30, 75, 300, 50);"
                           spellcheck="false"
                           readonly
                           data-validation="textarea"
                           placeholder="REQUERIDO">{UBI_GEO_TEX}</textarea>
                </td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td>
                    <textarea id="direccion"
                              name="direccion"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{DIRECCION}</textarea>
                </td>
            </tr>
        </table>
    </div>
<!-- END: main -->
