<!-- BEGIN: main -->
<div  align="center">
    <div id="sub_titulo">Redes Sociales</div>
    <div>
        <table style="cursor:pointer;" onclick="onOffPanelSedeRedSocial();">
            <tr>
                <td>
                    <div class="subtitulo_datos">Agregar Información</div>
                </td>
                <td>
                    <div id="id_img_sede_red_social" title="Mostrar Panel" class="img_show"></div>
                </td>
            </tr>
        </table>
    </div>
    <div id="id_panel_sede_red_social" style="display: none;">
        <input id="id_sede_red_social" name="id_sede_red_social" value="0" type="hidden">
        <table class="tabla_grid" style="width: 50%">
            <tr>
                <th colspan="2">Datos de Detalles</th>
            </tr>
            <tr>
                <td>Red Social</td>
                <td>
                    <select id="id_red_social" name="id_red_social" style="width: 100%;" data-validation="select">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: red_social -->
                        <option value={ID_RED_SOCIAL} {SELECTED_RED_SOCIAL}>{DES_RED_SOCIAL}</option>
                        <!-- END: red_social -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Descripción</td>
                <td>
                    <input id="red_social"
                           name="red_social"
                           autocomplete="off"
                           style="width: 100%;"
                           data-format="lowercase"
                           data-constraints=""
                           data-validation="required"
                           value="{RED_SOCIAL}"
                           onKeyUp="valPanelSedeRedSocial();">
                </td>
            </tr>            
        </table>
        <br />
        <img id="id_img_add_sede_red_social" src="../../../../../{APPORG}/img/addnew_off.png" border="0" title="Agregar" style="cursor:pointer;" onclick="">
        <br /><br />
    </div>
    <table id="id_tab_sede_red_social" class="tabla_grid" width="75%">
        <thead>
            <tr>
                <th>Red Social</th><th>Descripción</th><th>Acción(es)</th>
            </tr>
        </thead>
        <tbody>
            <!-- BEGIN: tab_sede_red_social -->
            <tr id={ID} class={CLASS_TR}>
                <td id="{ID_RED_SOCIAL}">{DES_RED_SOCIAL}</td>
                <td>{RED_SOCIAL}</td>
                <td>
                    <img class="accion"
                        src="../../../../../{APPORG}/img/edit.png"
                        title="Editar datos..."
                        onclick="editSedeRedSocial(this);valBtnClose();">
                    <img class="accion"
                        src="../../../../../{APPORG}/img/cross.png"
                        title="Eliminar/Borrar datos..."
                        onclick="sendSedeRedSocialDelete({ID});valBtnClose();">
                </td>
            </tr>
            <!-- END: tab_sede_red_social -->
        </tbody>
    </table>
</div>
<!-- END: main -->
