<!-- BEGIN: main -->
<div class="div_datos_cod_factura_fec_factura" >
    <div style="float:left;aling:left; width:35%;">
        <table class="tabla_datos_usuario" width="100%" border ="0">
            <tr>
                <td class='subtitulo_datos' width="20%">Guía:</td>
                <td class='datos_per_entrada' width="80%" align="left" id="id_cod_guia">{COD_GUIA}</td>
            </tr>
        </table>
    </div>
    <div style="float:right;aling:right; width:35%;">
        <table class="tabla_datos_usuario" width="100%" border ="0">
            <tr>
                <td class='subtitulo_datos' width="20%">Fecha:</td>
                <td class='datos_per_entrada' width="80%" align="left" id="id_fecha_apertura">{FECHA_APERTURA}</td>
            </tr>
        </table>
    </div>                              
</div>
<!-- END: main -->
