.mainTable{

	border:none;
	width:100%;
	font-family: sans-serif; 
}

.tHeader{
    position:fixed;  
    background-color: #BA3131;
	background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
    top:0;  
    width:100%;
}

.tHeaderDes{    
    width:101%; 
    font-size:100%;
    font-weight: normal; 
    background-color: #BA3131;
	background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
    color:#fff;
    z-index:2001;
    border: 1px solid #fff;
}

.tHeaderX{ 
    width:5%; 
    font-size:100%;
    font-weight: bold;
    background-color: #BA3131;
	background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
    color:#fff;
    cursor: pointer;
    z-index:2001;
    border: 1px solid #fff;
}

.tHeaderCol{    
    font-size:100%;
    font-weight: normal; 
    background-color: #BA3131;
	background: -moz-linear-gradient(#ba3131, #5d1818); 
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #ba3131));	
	background: -webkit-linear-gradient(#ba3131, #5d1818);	
	background: -o-linear-gradient(#ba3131, #5d1818);
	background: -ms-linear-gradient(#ba3131, #5d1818);
	background: linear-gradient(#ba3131, #5d1818);
    color:#fff;
    z-index:2001;
    border: 0px solid #000000;
}

.tablaNivel0{
    margin-top: 5%;
    background:#F2F2F2;    
    text-align: left;      
} 

.tablaNivel0 td{   
    cursor: pointer;
    color:#424242;  
    font-style: normal;
    font-family: sans-serif;
    font-size:90%;
}



/*.tablaNivel0{
    background:#F9F9F9;
    text-align: left;
    box-shadow: 1px 2px 3px #000000;   
    border-left: 1px solid black;
}  

.tablaNivel0 th{
    color:#FFFFFF;
    background-color:#BA3131;
    text-align:center;
    font: bold 20px arial;
}

.tablaNivel0 td{
    cursor: pointer;
    color:#000000;  
    font-family: arial;
    font-style: normal;
    font-size: 15px;
}

*/
