<!-- BEGIN: main -->
<div id="sub_titulo">Registros de Programacion</div>
{BUTTON_ADD}
<table id="tablaRows" class="display">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Programa</th>
            <th>Descripcion</th>
            <th>Representante</th>
            <th>Acción(es)</th>
        </tr>
    </thead>
    <tbody>
        <!-- BEGIN: rows -->
        <tr>
            <td>{DES_EVENTO_AUX}</td>
            <td>{FECHA}</td>
            <td>{HORA}</td>
            <td>{PROGRAMA}</td>
            <td>{DESCRIPCION}</td>
            <td>{REPRESENTANTE}</td>
            <td align="center">
                {BUTTON_EDIT}
                {BUTTON_DELETE}
            </td>
        </tr>
        <!-- END: rows -->
    </tbody>
</table>
{BUTTONS_PANEL}
<!-- END: main -->
