<!-- BEGIN: main -->
<script src="../../../../../{FDSOIL}/js/calendar.js"></script>
<form action="" name="form" method="POST">
    <input type="hidden" name="id" id="id" value='{ID}'>
    <div id='sub_titulo'>Registro de Convocatoria</div>
    <div align="center">
        <table class="tabla_grid" style="width: 90%">
            <tr>
                <th colspan="2">Datos Básicos</th>
            </tr>
            <tr>
                <td>Evento</td>
                <td>
                    <select id="id_evento_aux" name="id_evento_aux" style="width: 100%;">
                        <option value=null selected>Seleccione...</option>
                        <!-- BEGIN: evento_aux -->
                        <option value={ID_EVENTO_AUX} {SELECTED_EVENTO_AUX}>{DES_EVENTO_AUX}</option>
                        <!-- END: evento_aux -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cédula del Invitado</td>
                <td>
                    <select id="id_nacionalidad"
                            name="nacionalidad"                                
                            class="comboBoxNacionalidad"
                            style="width: 11%; text-align: center;"
                            onchange="sendInvitadoGet(this.value+document.getElementById('id_cedula').value);"
                            {NACIONALIDAD_READONLY1}
                            {NACIONALIDAD_READONLY2}/>
                        <option value="V" {SELECTED_V}>V</option>
                        <option value="E" {SELECTED_E}>E</option>
                        <!--option value="P">P</option-->
                    </select>
                    <input id="id_cedula"
                           name="cedula"
                           autocomplete="off"
                           value="{CEDULA}"
                           type="text"
                           maxlength="8"
                           data-constraints='number'
                           data-validation='integer'
                           style="width: 87%"
                           placeholder="########"
                           onkeyup="sendInvitadoGet(document.getElementById('id_nacionalidad').value+this.value);"
                           {CEDULA_READONLY}/>
                </td>
            </tr>
            <tr>
                <td>Nombre del Invitado</td>
                <td>
                    <input id="id_nombre_apellido"
                           name="nombre_apellido"
                           autocomplete="off""
                           style="width: 100%;"
                           data-validation=""
                           value="{NOMBRE_APELLIDO}" readonly>
                    <input id="id_invitado" name="id_invitado" type="hidden" value={ID_INVITADO}> 
            </td>
            </tr>
            <tr>
                <td>Fecha Convocatoria</td>
                <td>
                    <input id="id_fecha_convocatoria"
                           name="fecha_convocatoria"
                           autocomplete="off""
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA_CONVOCATORIA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "id_fecha_convocatoria",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_fecha_convocatoria",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora Convocatoria</td>
                <td>
                    <input id="id_hora_convocatoria"
                           name="hora_convocatoria"
                           style="width: 100%;"
                           placeholder="00:00:00"
                           data-validation='time'
                           maxlength='8'
                           class="time_element"
                           value="{HORA_CONVOCATORIA}"
                           readonly
                           onkeypress='return acceptTime(event)'/>
                </td>
            </tr>
            <tr>
                <td>Confirmacion</td>
                <td>
                    <input type="checkbox"
                           id="id_confirmacion"
                           name="confirmacion"
                           {CONFIRMACION_CHK}>
                </td>
            </tr>
            <tr>
                <td>Fecha Confirmacion</td>
                <td>
                    <input id="id_fecha_confirmacion"
                           name="fecha_confirmacion"
                           autocomplete="off""
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA_CONFIRMACION}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "id_fecha_confirmacion",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_fecha_confirmacion",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora Confirmacion</td>
                <td>
                    <input id="id_hora_confirmacion"
                           name="hora_confirmacion"
                           style="width: 100%;"
                           placeholder="00:00:00"
                           data-validation='time'
                           maxlength='8'
                           class="time_element"
                           value="{HORA_CONFIRMACION}"
                           readonly
                           onkeypress='return acceptTime(event)'/>
                </td>
            </tr>
            <tr>
                <td>Asistencia</td>
                <td>
                    <input type="checkbox"
                           id="id_asistencia"
                           name="asistencia"
                           {ASISTENCIA_CHK}>
                </td>
            </tr>
            <tr>
                <td>Fecha Asistencia</td>
                <td>
                    <input id="id_fecha_asistencia"
                           name="fecha_asistencia"
                           autocomplete="off""
                           style="width: 100%;"
                           data-validation="date"
                           value="{FECHA_ASISTENCIA}" readonly>
                    <script>
                        Calendar.setup({
                            inputField    : "id_fecha_asistencia",
                            ifFormat      : "%d/%m/%Y",
                            button        : "id_fecha_asistencia",
                            align         : "Tr"
                        });
                    </script>
                </td>
            </tr>
            <tr>
                <td>Hora Asistencia</td>
                <td>
                    <input id="id_hora_asistencia"
                           name="hora_asistencia"
                           style="width: 100%;"
                           placeholder="00:00:00"
                           data-validation='time'
                           maxlength='8'
                           class="time_element"
                           value="{HORA_ASISTENCIA}"
                           readonly
                           onkeypress='return acceptTime(event)'/>
                </td>
            </tr>
            <tr>
                <td>Observacion</td>
                <td>
                    <textarea id="id_observacion"
                              name="observacion"
                              style="width: 100%;"
                              rows=""
                              cols=""
                              data-format="uppercase"
                              data-constraints="textarea"
                              data-validation="textarea">{OBSERVACION}</textarea>
                </td>
            </tr>
        </table>
    </div>
    {BUTTONS_PANEL}
</form>
<!-- END: main -->
